p {
  font-size: 40px;
  text-align: center;
}

.btn-inner {
  display: grid;
  place-items: center;
}

.btn {
  font-size: 24px;
  display: inline-block;
  padding: .6em 2em;
  margin: 0 0 1em;
  background-image: none;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .2);
  position: relative;
}

.btn:hover .btn:focus {
  outline: none;
}

.btn::-moz-foucus-inner {
  padding: 0;
  border: none;
}

.arrow_box {
  width: 250px;
  position: relative;
  background: #fff;
  border: 1px solid #000000;
}

.arrow_box:after,
.arrow_box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 30px;
  margin-top: -30px;
}

.arrow_box:before {
  border-color: rgba(0, 0, 0, 0);
  border-left-color: #000000;
  border-width: 31px;
  margin-top: -31px;
}
.wrapper {
display: flex;
flex-wrap: wrap;
justify-content: center;
.face{
font-size: 150px;
}
}